.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  max-width: 400px;
  height: fit-content;
  word-wrap: break-word;
  background-color: rgb(104, 104, 104);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 3px 10px;
  position: absolute;
  z-index: 100;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  text-transform: capitalize;
  text-align: left;
  font-weight: 500;
  font-size: medium;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
