@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9fafb;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
      /* Horizontal lines */ linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    /* Vertical lines */
      linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* Grid size */
  background-color: white; /* Background color for the grid */
  z-index: 0; /* Ensure the background is behind the content */
  pointer-events: none; /* Prevent interactions with the background */
}
